@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body, html, main, table {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  padding: 20px;
  background-color: #f6f6f6;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table a {
  text-decoration: none;
}

tr {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

tr:hover td {
  border-top: 4px solid #f6f6f6;
  border-bottom: 4px solid #f6f6f6;
}

td,
th {
  border: 1px solid #f6f6f6;
  width: 40px;
  text-align: center;
  background: lightgreen;
  padding: 5px 0;
}

td.row-number {
  width: 100px;
  background: lightblue;
  color: black;
}

td.row-number a {
  color: black;
}

td.fail {
  background: lightcoral;
}

.tor {
  padding: 1px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: lightgreen;
}

.tor.fail, .tor.fail td, .tor.fail th {
  background: lightcoral;
}

h1 {
  text-transform: uppercase;
}

.rowView {
  text-decoration: none;
  color: inherit;
  color: black;
  text-align: center;
}

.backBtn {
  width: 200px;
  height: 60px;
  border: none;
  background-color: lightblue;
  border-radius: 4px;
  font-size: 1.4em;
}
